[Unit]
Description=Photo Upload Server
After=network.target

[Service]
Type=simple
User=picadre
WorkingDirectory=/home/picadre/picadre
# Utilisez le Python de la venv picframe
ExecStart=/home/picadre/venv_picframe/bin/python3 /home/pi/upload_server.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
