# service utilisateurpour accéder à la session Wayland
# doit être placé  dans ~/.config/systemd/user/votre-service.service

[Unit]
Description=Photo Upload Server
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/picadre
# Utilisez le Python de la venv picframe
ExecStart=%h/venv_picframe/bin/python3 %h/picadre/upload_server.py
Restart=always
RestartSec=10
Environment="WAYLAND_DISPLAY=wayland-0"
Environment="XDG_RUNTIME_DIR=/run/user/%U"

[Install]
WantedBy=default.target
