# service utilisateurpour accéder à la session Wayland
# doit être placé  dans ~/.config/systemd/user/votre-service.service

[Unit]
Description=Photo Upload Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/picadre/picadre
# Utilisez le Python de la venv picframe
ExecStart=/home/picadre/venv_picframe/bin/python3 /home/picadre/picadre/upload_server.py
Restart=always
RestartSec=10
Environment="WAYLAND_DISPLAY=wayland-0"
Environment="XDG_RUNTIME_DIR=/run/user/1000"

[Install]
WantedBy=default.target
